{{>navbar}}

{{!-- id: obj._id,
name: obj.name,
dob: obj.dob,
imageName: obj.image.imageName,
gender: obj.gender,
email: obj.email,
studentNumber: obj.username, --}}
<script>
    var decodeJson = decodeURIComponent("{{{result}}}");
    console.log(decodeJson)
    var jsonObj = JSON.parse(decodeJson);
    let count = 1;
    var studentData = jsonObj.users.map(obj => {
        return ({
            rank: count++,
            image: `<img src='/uploads/${obj.imageName}' style='width:30px'>`,
            id: obj.id,
            name: obj.name,
            dob: obj.dob,
            gender: obj.gender,
            email: obj.email,
            studentNumber: obj.studentNumber
            //Edit: `<a href='localhost:3000/student/updateStudent?id=${obj.id}'>Edit</a>`,
        })
    })

    var tables = [];
    var config = {
        view: "datatable",
        columns: [
            { id: "rank", header:"", width: 30 },
            { id: "image", header: jsonObj.context.image, width: 100 },
            { id: "name", header: jsonObj.context.name, width: 200 },
            { id: "dob", header: jsonObj.context.dob, width: 100 },
            { id: "gender", header: jsonObj.context.gender, width: 100 },
            { id: "email", header: jsonObj.context.email, width: 200 },
            { id: "studentNumber", header: jsonObj.context.studentNumber, width: 200 }
        ],
        data: webix.copy(studentData),
        select: true,
        autoConfig: true,
        on: {
            onItemClick(item) {
                console.log(item.row)
                window.location.href = `http://localhost:3000/student/updateStudent?id=${item.row}`;
            }
        }
    };
    tables.push(config)

    webix.ui({
        rows: tables
    });
</script>

{{!-- <div class="container">
    <div class="card-group row row-cols-1 row-cols-md-3 g-4 mx-auto">
        {{#each users}}
        <div class="col">
            <div class="card m-2" style="width: 20rem;">
                <img src="/uploads/{{this.imageName}}" class="card-img-top allP-img" alt="student image">
                <div class="card-body text-truncate">
                    <h5 class="card-title fw-bold text-capitalize text-truncate">{{this.name}}</h5>
                    <p class="card-text">DOB: {{this.dob}}</p>
                </div>
                <table class="table table-borderless col-md-10 table-margin text-truncate">
                    <tbody>
                        <tr>
                            <th>Gender :</th>
                            <td>{{ this.gender }}</td>
                        </tr>
                        <tr>
                            <th>Email :</th>
                            <td>{{this.email}}</td>
                        </tr>
                        <tr>
                            <th>Student Number:</th>
                            <th>{{ this.studentNumber }}</th>
                        </tr>
                    </tbody>
                </table>
                <div class="card text-center">
                    <a href="/student/updateStudent?id={{this.id}}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
        {{/each}}
        <hr>
    </div>
</div> --}}