{{>navbar}}
{{!-- 
id: result.student._id,
name: result.student.name,
dob: result.student.dob,
email: result.student.email,
gender: result.student.gender,
imageName: result.student.image.imageName,
studentNumber: result.student.username, --}}
<script>

    var decodeJsonString = decodeURIComponent("{{{result}}}");
    console.log('hi' + decodeJsonString)

    var resultObj = JSON.parse(decodeJsonString);
    console.log(resultObj)

    var views = [
        { view: "text", name: "name", id: "id_name", label: resultObj.context.name, required: true,value:resultObj.user.name},
        { view: "text", name: "password", id: "id_pass", label:  resultObj.context.password, type: 'password', },
        { view: "text", name: "email", id: "id_email", label:  resultObj.context.email, required: true,value:resultObj.user.email },
        { view: "text", name: "studentNumber", id: "id_sn", label:  resultObj.context.studentNumber, required: true,value:resultObj.user.studentNumber },
        { view: "text", name: "dob", id: "id_dob", label:  resultObj.context.dob, required: true, type: 'date',value:resultObj.user.dob },
        { view: "text", name: "gender", id: "id_gender", label:  resultObj.context.gender, required: true,value:resultObj.user.gender },
        {
            view: "uploader", value:  resultObj.context.upload,
            name: "uploadFile",
            multiple: false,
            upload: 'http://localhost:3000/student/addStudent',
            link: "list1"
        },
        {
            view: "list", id: "list1", type: "uploader",
            autoheight: true, borderless: true
        },

        {
            view: 'button', type: 'submit', autowidth: true, value:  resultObj.context.update,
            click: function () {
                console.log('clicked')
                var data = this.getFormView().getValues();

                console.log(data)
                //fetch('http://localhost:3000/student/login', {method:'POST',body: JSON.stringify(data) })
                //  .then(response => response.json())
                //send data to server

                webix.ajax().put("/student/updateStudent?id="+resultObj.user.id, data).then(function (data1) {
                    console.log('updated')
                    window.location.href = "http://localhost:3000/student/getStudents"
                    
                });

            }
        },
        {
            view: 'button', type: 'submit', autowidth: true, value: resultObj.context.delete,
            click: function () {
                console.log('clicked')
                var data = this.getFormView().getValues();

                console.log(data)
                //fetch('http://localhost:3000/student/login', {method:'POST',body: JSON.stringify(data) })
                //  .then(response => response.json())
                //send data to server

                webix.ajax().del("/student/deleteStudent?id="+resultObj.user.id, data).then(function (data1) {
                    window.location.href = "http://localhost:3000/student/getStudents"
                });

            }
        }

    ]

    webix.ui({
        view: 'form',
        id: "add_form",
        minWidth: 400,
        // elements == rows, cols can be declared instead
        elements: views
    });
</script>

{{!-- <div class="container w-75 mt-5">
    <p class="h3">Edit student details here</p>
    <form class="row g-3 mt-3" method="post" action="updateStudent?id={{user.id}}&_method=PUT"
        enctype="multipart/form-data">
        <div class="col-md-6">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="name" name="name" required value="{{user.name}}">
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="col-md-6">
            <label for="studentNumber" class="form-label">Student Number</label>
            <input type="text" class="form-control" id="studentNumber" name='studentNumber' required
                placeholder="Enter unique student number" value="{{user.studentNumber}}">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name='email' placeholder="Enter email" required
                value="{{user.email}}">
        </div>
        <div class="col-md-6">
            <label for="gender" class="form-label">Gender</label>
            <select id="gender" name="gender" class="form-select" required value="{{user.gender}}">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="datePicker" class="form-label">Date</label>
            <input type="date" class="form-control" id="datePicker" name='dob' placeholder="Enter date of birth"
                value="{{user.dob}}" required>
        </div>
        <div class="col-12">
            <div class="mb-3">
                <label for="formFile" class="form-label">Choose image to upload</label>
                <input class="form-control" type="file" id="formFile" name="uploadImage" accept=".jpg, .jpeg, .png">
            </div>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
        <div class="col-md-6 mt-1">
            <input type='submit' class="btn btn-primary btn-block btn-danger fw-bold" name='delete student'
                value="Delete" formmethod="POST" formaction='deleteStudent?id={{ user.id }}&_method=DELETE'>
        </div>
    </form>
</div> --}}